@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*END RESET */


/* GLOBAL */
:root{
  --BGCOLOR-DARK: #000;
  --TXTCOLOR-1:#fff;
  --TXTCOLOR-2:#999999;
}
/*END GLOBAL */

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--BGCOLOR-DARK);
  color: var(--TXTCOLOR-1);
  padding-inline: 10%;
}

header{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.profile{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--TXTCOLOR-2);
}

.profile p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
