@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*END RESET */

/* GLOBAL */
:root {
  --BGCOLOR-DARK: #000;
  --TXTCOLOR-1: #fff;
  --TXTCOLOR-2: #999999;
  --FONT-MEDIUM: 500;
  --FONT-REGULAR: 400;
  --FONT-LIGHT: 300;
}
/*END GLOBAL */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: var(--FONT-REGULAR);
  font-style: normal;
  background-color: var(--BGCOLOR-DARK);
  color: var(--TXTCOLOR-1);
  padding-inline: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1.2rem;
  margin-bottom: 10rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--TXTCOLOR-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile p {
  font-family: "Inter", sans-serif;
  font-weight: var(--FONT-MEDIUM);
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigations {
  font-family: "Inter", sans-serif;
  font-weight: var(--FONT-REGULAR);
  font-style: normal;
  display: flex;
  font-size: 14px;
}
nav a {
  text-decoration: none;
  color: var(--TXTCOLOR-1);
  margin-left: 30px;
}
nav a:first-child {
  margin-left: 0;
}
nav a:hover {
  text-decoration: underline;
  color: var(--TXTCOLOR-2);
  transition: 0.3s;
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding-inline: 10px;
  padding-block: 7px;
  font-family: "Inter", sans-serif;
  font-weight: var(--FONT-REGULAR);
  font-style: normal;
  font-size: 14px;
  color: var(--TXTCOLOR-1);
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.intro-p-2 {
  margin-left: 4px;
}

.intro-header h1 {
  font-family: "Inter", sans-serif;
  font-weight: var(--FONT-REGULAR);
  font-style: normal;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
